body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100px;
    background-color: rgb(180, 215, 254);
    font-family: Poppins, sans-serif;
    font-size: 100%;
}




.main {
    background-color: rgb(92, 156, 229);
    color: white;
    width: 850px;
    height: 514px;
    min-width: 600px;
    border-radius: 28px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 19px;
}

.card1 {
    background-color: rgb(92, 156, 229);
    color: white;
    width: 30%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card2 {
    background-color: rgb(228, 241, 255);
    color: black;
    width: 100%;
    height: 100%;
    min-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 28px;
}

.row1 {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin-bottom: 0px;
    width: 203px;
    margin-top: 21px;
    
}



.row2 {
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 23px;
    width: 170px;
}

.row3 {
    display: flex;
    justify-content: space-between;
    font-size: 72%;
    margin-top: 0px;
    width: 170px;
    margin-left: 12px;
}

.row4 {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    align-items: center;
    margin-top: 28px;
}

.row5 {
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-top: -20px;
    margin-bottom: 0px;
}

.row6 {
    display: flex;
    justify-content: space-between;
    padding-right: 76em;
    width: 575px;
}

.row6 h5:first-child {
    color: black;
    text-align: left;
    padding-left: 2.4em;
    padding-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
}

.row6 span:last-child {
    padding-top: 14px;
    padding-right: 2px;
    text-align: end;
    margin-right: -20px;
}


.detail {
    text-align: left;
    font-size: 12px;
    padding-left: 32px;
    margin-top: 0px;
}

.highlight {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: -11px;
}

.highlight.heading {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
}

.box1 {
    background-color: white;
    width: 154px;
    height: 81px;
    border-radius: 28px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    margin-left:  42px;
    margin-right: -21px;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-left: 6px;
}

.button{
    border-radius: 10px;
    border: none;
    background-color: rgb(92, 156, 229);
    color: white;
    padding-top: 3px;
    transform: scale(0.7);
    margin-bottom: 0px;

}

.bodybutton{
    background: transparent;
    border: none;
    color: rgb(92, 156, 229);
    margin-top: 0px;

}

h4.box-heading {
    font-size: 80%;
    margin-top: 4px;
    margin-bottom: 0px;
}


.content{
    display: flex;
    justify-content: center;
    margin-top: 9px;
    margin-bottom: 0px;
    font-weight: bolder;
}




.flow1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: -10px;
    margin-bottom: -11px;
}

.flow2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}




img-chart {
    padding: 14px 5px 5px;
    margin-left: 61px;
}



.row0{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-right: 10em; 

}


img.chart {
    margin-left: 46px;
    margin-top: 0px;
}

.leftarrow {display: flex;justify-content: space-between;margin-left: -4px;margin-top: 0px;}

.temp {
    font-size: 295%;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

img.sun {
    display: flex;
    justify-content: center;
    margin: 0px;
    align-items: center;
    position: absolute;
    left: 237px;
    top: 343px;
}

img.cartoon {
    position: relative;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0px;
    top: 13px;
    left: -10px;
}

.heading {margin-top: 30px;font-size: 80%;margin-left: 36px;margin-bottom: 0px;font-weight: 700;}


.fig1{
    display: flex;
    justify-content: center;
    color: rgb(92, 156, 229);
    font-weight: 800;
    margin-top: -1px;
    transform: scaleX(1.75);
}

.fig2{
    display: flex;
    justify-content: center;
    color: rgb(92, 156, 229);
    font-weight: 800;
    /* margin-top: -1px; */
    transform: scale(1.6);
    margin-top: -14px;
}

.fig3{
    display: flex;
    justify-content: center;
    color: rgb(92, 156, 229);
    font-weight: 800;
    margin-top: 5px;
    transform: scaleX(1.6);
    margin-left: -53px;
}
.fig4{
    display: flex;
    justify-content: center;
    color: rgb(92, 156, 229);
    font-weight: 800;
    margin-top: 10px;
    transform: scaleX(1.75);
    margin-left: -53px;
}
.fig5{
    display: flex;
    justify-content: center;
    color: rgb(92, 156, 229);
    font-weight: 800;
    margin-top: -1px;
    transform: scaleX(13);
    margin-left: -19px;
}
.fig6{
    display: flex;
    justify-content: center;
    color: rgb(92, 156, 229);
    font-weight: 800;
    margin-top: 7px;
    transform: scaleX(1.75);
    margin-left: -31px;
}

.quantity1 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-top: -16px;
    padding-top: 13px;
}
.quantity2 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-top: -16px;
    padding-top: 13px;
}
.quantity3 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-top: -25px;
    padding-top: 13px;
    margin-left: 6px;
}
.quantity4 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-top: -27px;
    padding-top: 13px;
    margin-left: -25px;
}
.quantity5 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-top: -27px;
    padding-top: 13px;
    margin-left: -7px;
}
.quantity6 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-top: -27px;
    padding-top: 13px;
    margin-left: -1px;
}

.description {
    margin-left: 11px;
}